html {

}
body {
  padding: 0;
  margin: 0;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
* {
  box-sizing: border-box;
}
#root {
  color: rgb(17, 17, 17);
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid rgb(255, 255, 255); */
}

header {
  height: 75px;
  width: 100%;
  border-bottom: 2px solid hsla(230, 50%, 44%, 0.486);
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  padding: 10px;
  font-size: 25px;
  font-weight: 700;
  color: blue;
  text-shadow: 3px 3px 3px rgb(60, 116, 136);
}
a {
  color: inherit;
  text-decoration: none;
  transition: .3s;
  padding: 10px;
}
nav {
  color: rgb(64, 56, 86);
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 10px;
  font-size: 15px;
  font-weight: 700;
}
nav a:hover {
  color: red;
  /* opacity: .5; */
}
nav a:active {
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: calc(100% - 150px);
  width: 100%;
  overflow-y: scroll;
  border-bottom: 2px solid rgba(57, 76, 169, 0.486);
}
.ware-box {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
.ware-item {
  /* border: 1px solid rgba(128, 128, 128, 0.438); */
  position: relative;
  padding: 50px 30px 20px;
  border-radius: 3px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.164);
}
.ware-item img {
  width: 300px;
  height: 300px;
  object-fit: scale-down;
}
.favorite {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  right: 20px;
  top: 20px;
  border-radius: 1px;
  cursor: pointer;
  transform: rotate(45deg);
  background-color: rgb(206, 206, 206);
}

.like {
  background-color: red;
}
.favorite::before, .favorite::after {
  content : '';
  display: block;
  width:15px;
  height: 15px;
  background-color: inherit;
  border-radius: 50%;
  position: absolute;
}
.favorite::before {
  right: 8px;
}
.favorite::after {
  top: -8px;
  left: 0px;
}
.cart-counter {
  display: flex;
  padding: 5px;
}
.cart-counter * {
  padding: 5px 10px;
}
.minus, .plus, .cart-add {
  cursor: pointer;
}

footer {
  height: 75px;
  width: 100%;
  /* border-bottom: 1px solid yellow; */
}
